* {
  box-sizing: border-box;
}

.formContainer {
    background-color: #5d5b8d;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.formWrapper {
 background-color: #fff;
 padding: 20px 60px;
 flex-direction: column;
 gap: 10px;
 align-items: center;
}

.logo {
 color: darkblue;
 font-weight: bold;
 font-size: 24px;
 align-items: center;
}

.title {
 color: darkblue;
 font-size: 12px;
 align-items: center; 
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  padding: 15px;
  border: none;
  border-bottom:1px solid #5d5b8d;
}

button {
  background-color: #5d5b8d;
  color: #fff;
  cursor: pointer;
}

p {
  color: #5d5b8d;
  font-size: 12px;
  margin-top: 10px;
}

label {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #8da4f1;
  font-size: 12px;
  cursor: pointer;
}

img {
  width: 32px;
}

/* @media screen and (max-width: 600px) {
  .formContainer, .formWrapper, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

@media screen and (max-width: 375px) {
  .formContainer, .formWrapper, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
} */


.home {
  background-color: #8da4f1;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  border: 1px solid white;
  border-radius: 10px;
  width: 50%;
  height: 70%;
}