.formContainer {
    background-color: aqua;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.formWrapper {
 background-color: #fff;
 padding: 20px 60px;
 flex-direction: column;
 gap: 10px;
 align-items: center;
}

.logo {
 color: darkblue;
 font-weight: bold;
 font-size: 24px;
}

.title {
 color: darkblue;
 font-size: 12px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
 }
    